/Practica3Prueba/target/
/Practica3/target/
/Practicaa3/nbproject/private/
/Practicaa3/build/
/GestionnClientes/nbproject/private/
/GestionnClientes/build/
/EjercicioPruebaPractica4/nbproject/private/
/EjercicioPruebaPractica4/build/
/Practica4/Ejercicio1/nbproject/private/
/Practica4/Ejercicio1/build/
/Practica4/Ejercicio2/Ejercicio2/nbproject/private/
/Practica4/Ejercicio2/Ejercicio3/nbproject/private/
/Practica4/Ejercicio2/build/
/Practica4/Ejercicio3/build/
/Practica4/Ejercicio4/Ejercicio4/nbproject/private/
/Practica4/Ejercicio4/Ejercicio4/build/