/Practica3Prueba/target/
/Practica3/target/
/Practicaa3/nbproject/private/
/Practicaa3/build/
/GestionnClientes/nbproject/private/
/GestionnClientes/build/
/EjercicioPruebaPractica4/nbproject/private/
/EjercicioPruebaPractica4/build/
/Practica4/Ejercicio1/nbproject/private/
/Practica4/Ejercicio1/build/
/Practica4/Ejercicio2/Ejercicio2/nbproject/private/
/Practica4/Ejercicio2/Ejercicio3/nbproject/private/
/Practica4/Ejercicio2/build/
/Practica4/Ejercicio3/build/
/Practica4/Ejercicio4/Ejercicio4/nbproject/private/
/Practica4/Ejercicio4/Ejercicio4/build/
/Practica4/Ejercicio2/PruebaFechas/nbproject/private/
/Practica4/Ejercicio2/PruebaFechas/build/
/Practica4/Ejercicio2/AbstractTableModelExample/nbproject/private/
/Practica4/Ejercicio2/AbstractTableModelExample/build/
/Practica4/Ejercicio2/Practica6/nbproject/private/
/Practica6/nbproject/private/
/AbstractTableModelExample/nbproject/private/
/Practica6/build/
/EjemploLayouts/nbproject/private/
/EjemploLayouts/build/
/Practica8/nbproject/private/
/EjemplojOptionPane/nbproject/private/
/EjemplojOptionPane/build/
/Practica8/build/
/JTabbedPanePrueba/nbproject/private/
/JTabbedPanePrueba/build/
/Pruebaeventos/nbproject/private/
/Pruebaeventos/build/
/UT3/Practica1/nbproject/private/
/UT3/Practica1/build/
/UT3/EjemploValidacion/nbproject/private/
/UT3/EjemploValidacion/build/
/UT3/Practica2UT3/nbproject/private/
/UT3/Bundle_pt.properties/nbproject/private/
/UT3/Bundle_pt.properties/dist/
/UT3/Bundle_pt.properties/build/
/UT3/ImagenesEjemplo/nbproject/private/
/UT3/ImagenesEjemplo/build/
/UT3/Practica3UT3/nbproject/private/
/UT3/Practica3UT3/build/
/UT3/jPanelImagen/nbproject/private/
/UT3/ProyectoPrueba/nbproject/private/
/UT3/jPanelImagen/build/
/UT3/jPanelImagen/dist/
/UT3/ProyectoPrueba/build/
/UT3/jPanelLogo/nbproject/private/
/UT3/Practica4UT3/nbproject/private/
/UT3/jPanelLogo/dist/
/UT3/jPanelLogo/build/
/UT3/Practica4UT3/build/
/UT3/Practica5UT3/nbproject/private/
/UT3/Practica5UT3/build/
/UT3/Practica2UT3/build/
/UT3/Musica/nbproject/private/
/UT3/Musica/build/